body {
	background-color: rgb(51,51,51);
	color: rgb(153,153,153);
}
p {
	font-size: 14px;
	color: rgb(153,153,153);
}

.axis path,
.axis line{
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path{
	display: none;
}

.line{
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}